server:
  port: 8080
spring:
  profiles:
    active: default
  application:
    name: springboot
  datasource:
    url: jdbc:mysql://localhost:3306/springboot?characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
  data:
    redis:
      host: localhost
      port: 6379
      connect-timeout: 5s
      timeout: 5s
      jedis:
        pool:
          enabled: true
          max-active: 8
          max-idle: 8
          max-wait: -1ms
          min-idle: 0

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml